header{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    width: 100%;
    padding-top: 300px;
    padding-left: 75px;
}

nav > a {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(80, 146, 121)
}

body{
    background-image: url(animal-planet.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
}

.article{
    padding-top: 50px;
    padding-left: 400px
}

nav:hover{
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  transition: 2s;
}