header{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    width: 100%;
    padding-top: 300px;
    padding-left: 75px;
}

nav > a {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(80, 146, 121)
}

body{
    background-image: url(animal-planet.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
}

iframe{
    padding-top: 50px;
    padding-left: 400px;
    width: 560px;
}

nav:hover{
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  transition: 2s;
}

@media only screen and (max-width : 1024px){
  header{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  padding-top: 305px;
  padding-left: 100px;
  }

  iframe{
    padding-left: 200px;
  }
}

@media only screen and (max-width : 768px){
  nav > a {
    font-size: 40px
  }

  header{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  padding-top: 305px;
  padding-left: 100px;
  }

  iframe{
    padding-left: 100px;
  }

  body{
    background-position: stretch;
    width: 700px;
  }
}

@media only screen and (max-width : 414px){
  nav > a {
    font-size: 25px;
  }
  
iframe{
      padding-left: 30px;
      width: 300px
  }

  body{
    background-repeat: repeat-y;
    background-position: stretch;
    width: 411px;
  }

  header{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  padding-top: 15px;
  padding-left: 3px;
  }
}

@media only screen and (max-width : 411px){
  nav > a {
    font-size: 25px;
  }
  
    iframe{
      padding-left: 30px;
      width: 300px
  }

  header{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  padding-top: 15px;
  padding-left: 0px;
  }
}

@media only screen and (max-width : 360px){
  nav > a {
    font-size: 25px;
  }
  
  iframe{
      padding-left: 10px;
      width: 300px
  }

  header{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  padding-top: 15px;
  padding-left: 0px;
  }
}

@media only screen and (max-width : 320px){
  nav > a {
    font-size: 20px;
  }
  
  header{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  width: 100%;
  padding-top: 15px;
  padding-left: 0px;
  }

  iframe{
    width: 275px;
  }
}